*{
    margin:0;
    padding:0;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
li {list-style: none;
   }

.menu-link {
    color: #95e1d3; 
     font-size: 14px; 
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase; 
     text-decoration: none;
}

.logo-link{
    text-decoration: none;
    color: #95e1d3;
 font-size: 30px;
 font-family: 'Open Sans', sans-serif;



}
.page-n{
    display: flex;
    justify-content: space-between;
    min-height: 94px;
     align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex: 0 0 490px;

}
.menu-item{
display: block;
}

.menu a:hover{
    color: #f38181;
    transition: color 200ms linear;
  
}
.menu a::after{
    content: "";
 
    background-color: #f38181;
    height: 4px;
    width: 50px;
  display: flex;
    top: 35px;
    right: calc(50% - 105px);
    opacity: 0;
}
.menu a:hover::after{
    opacity: 1;
    transition: opacity 200ms linear;

}
/*section 1*/
.order {
    display: flex;
flex-direction: column;
    justify-content: center;
    min-height: 294px;

}
section{
        font-family: 'Montserrat', sans-serif;
}
.work{
    font-size: 24px;
  color: #7a7a7a;
  line-height: 1.6;
  text-transform: none;
}
h2{
    flex-wrap: wrap;
    font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
   align-items: center;
   display: flex;
   flex-direction: column;
      align-items: center;
     align-content: center;
}
.order h2::after{
    content: "";
 
    background-color: #f38181;
    height: 4px;
    width: 70px;
  display: flex;
  margin-top: 34px;
    opacity: 1;

}
.service h3::before{
    content: "";
  

    width: 36px;
    height: 36px;
    display: flex;
    color: #95e1d3;
    align-content: center;
     position: absolute;
     left: 4px;
}
.service .clock::before{
  background: url(img/icons/icon01.png);  
    background-repeat: no-repeat;
    background-position: center;
}
.service .line::before{
    background: url(img/icons/icon02.png);  
      background-repeat: no-repeat;
      background-position: center;
  }
  .service .monitor::before{
    background: url(img/icons/icon03.png);  
      background-repeat: no-repeat;
      background-position: center;
  }
  .service .book::before{
    background: url(img/icons/icon04.png);  
      background-repeat: no-repeat;
      background-position: center;
  }
  .service .house::before{
    background: url(img/icons/icon05.png);  
      background-repeat: no-repeat;
      background-position: center;
  }
  .service .cube::before{
    background: url(img/icons/icon06.png);  
      background-repeat: no-repeat;
      background-position: center;
  }
.list-serv{
   position: relative;
    width: 300px;
    padding-left: 50px;
    margin-bottom: 80px;
    font-size: 16px;
  line-height: 1.6;
}

h3{
    text-transform: uppercase;
     font-size: 14px;
     color: #333333;
     line-height: 1.4;
    }

.service{
    display: flex;
    flex-wrap: wrap;
}

/*
SECTION 2
*/
.text{ 
    text-align: center;
    font-size: 15px;
}
.teem-item{
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 1.8;
}
.name{
     font-size: 14px; 
     text-transform: uppercase;
}
.special{
     font-size: 16px;
}
.img{
    position: relative;
}
img{
    background-color: #95e1d3;
}
.teem-item .card:hover{
       transform: translate(-10px,-10px);
}
.card{
    position: relative;
}

.overlay{
    position: absolute;
    width: 380px;
    height: 470px;
    background: linear-gradient(rgba(239, 139, 138, 0.9),rgba(246, 219, 139, 0.9));
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.card .overlay:hover{
    opacity: 1;
    transition: opacity 200ms linear;
}
.overlay .social:hover{
    background-color: #95e1d3;
}
.social{
    width: 60px;
    height: 60px;

}

.faceb{
    background-image: url(img/social/facebook.png);  
      background-repeat: no-repeat;
      background-position: center;
      background-color: #fce38a ;
}
.twitt{
    background-image: url(img/social/twitter.png);  
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a ;
}
.pint{
    background-image: url(img/social/pinterest.png);  
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a ;
}
.inst{
    background-image: url(img/social/instagram.png);  
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a ;
}

/*
FOOTER
*/
.container{
    display: flex;
    justify-content: space-between;
    min-height: 64px;
    align-items: center;
}
.text-color{
    color: #f6a6a6;
}
.email{
    color: #7a7a7a;
}
.submit{
    background-color: #95e1d3;
    color: #ffffff;
}




sec>ul>li>div>img  background color
потом анимация