html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
}


li {list-style: none;
}
$main-white-color: #ffffff;
$menu-hover-color: rgb(252, 227, 138);


$main-title-color: #333333;
$hover-social-color: #f38181;