
$main-white-color: #ffffff;
$menu-hover-color: #fce38a;


$main-title-color: #333333;
$secondary-title-color: rgb(153, 153, 153);

$hover-social-color: #f38181;
$main-blue-color: #95e1d3;

$footer-batt-color: rgb(204, 204, 204);

$font-text: 'Roboto';
$font-title: "Montserrat";
$font-kaush: 'Kaushan Script';