*{
    margin:0;
    padding:0;
}
font-family: "Playfair Display", sans-serif;
.conteiner{
    width:1110px;
    margin:0 auto;
    font-family:"Playfair Display" ;
}
nav ul li{
    float: left;
    list-style: none;
    margin-right: 35px ;
    text-transform: uppercase;

}
.link{color: #0f0101;
        text-decoration: none;
    
}
nav{float: right;
    
}
.link:hover{
    color: rgb(26, 188, 156);
    margin-top: 30px;
}
.logo{
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    
}
.logo::first-letter{
    color: rgb(26, 188, 156);
}

header::after{
    content:'';
    clear: both;
    display: block;
}

.clearfix { clear: both; }


/*main*/
.h21 {
    font-size: 30px;
    font-family: "Myriad Pro";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-weight: 900px;
    height: 33px;
    z-index: 110;
    margin-bottom: 40px;
  }
 .h21::after {
        content: "";
        position: absolute;
        top: 35px;
        right: calc(50% - 105px);
        height: 7px;
        width: 210px;
        background-color: #4ec6ab; }

 .item-block:hover  .img::before{
            background-color: #7777aa;
        }
.item-block:hover  .name{
    background-color: #4ec6ab;
}
.item-block:hover  .price{
    background-color: #4ec6ab;
}
 .item-block {
            float: left;
            display: block;
            margin-right: 14px;
            margin-bottom: 30px;
            max-width: 250px;
            background-color: #d4dceb;
        }
 .item-block .img{
     background-color: #d4dceb;
     max-width: 250px;
 }
.item-block .name {
    background-color: #323232;
    float: left;
    text-transform: uppercase;
    font-size: 15px;
    height: 44px;
    line-height:44px ;
    display: inline-block;
    width: 195px;

}
.item-block .price{
    background-color: #8c8c8c;
    float: right;
    display: inline-block;
    margin-left: -4px;
    width: 55px;
    height: 44px;
    line-height:44px ;
}

 

.price-item {
    text-align: center;
    padding: 14px 0;
}

.bog-block {
        float: left;
        display: block;
        margin-right: 8px;
        margin-bottom: 30px;
        max-width: 345px;

      }

.h44::after {
    content: "";
    display: block;
    top: 10px;
    right: calc(50% - 170px);
    height: 7px;
    width: 140px;
    background-color: #4ec6ab; }


.button:hover{
   
}
.button:hover{
    color: #f50e7a;

}
.button {
    list-style: none;
    border-radius: 2px; 
    background-color: #4ec6ab;
    color: #0f0101; 
    text-decoration: none;
}
   
