*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */        

}
.wrapper{
    width: 1400px;
    margin: 0 auto;

}
li {list-style: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
   }

.menu-link {
    color: #272727; 
     font-size: 14px; 
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase; 
     text-decoration: none;
}

.logo-link{
    text-decoration: none;
    color: #f2d048;
 font-size: 30px;

/* , sans-serif;

@font-face {
    font-family: "AlexBrush-Regular";
    src: url(fonts/AlexBrush-Regular)

  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}*/


}
.page-nav{
    display: flex;
    justify-content: space-between;
    min-height: 94px;
     align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex: 0 0 490px;

}
.menu-item{
display: block;
}

.menu a:hover{
    color: #f2d048;
    transition: color 200ms linear;
  
}

/*section 1*/
.title{
    display: flex;
flex-direction: column;
    justify-content: center;
    min-height: 294px;

}
section{
        font-family: 'Montserrat', sans-serif;
}
.title-services{
    font-size: 24px;
  color: #7a7a7a;
  line-height: 1.6;
  text-transform: none;
}
h2{
    flex-wrap: wrap;
    font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
   align-items: center;
   display: flex;
   flex-direction: column;
    align-items: center;
    align-content: center;
}

.service h3::before{
    content: "";
    align-content: center;
    width: 74px;
    height: 74px;
    display: flex;
    color: #f2d048;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;

}
.service .basket::before{
    background-image: url(img/icons/Basket01.png);  
    background-repeat: no-repeat;
    background-position: center;

}
.service .laptop::before{
    background-image: url(img/icons/laptop02.png);  
      background-repeat: no-repeat;
      background-position: center;
  }
  .service .lock::before{
    background-image: url(img/icons/locked03.png);  
      background-repeat: no-repeat;
      background-position: center;
  }
 
.list-serv{
    width: 300px;
    margin-bottom: 80px;
    font-size: 16px;
  line-height: 1.6;

    display: flex;
    flex-direction:column;
    justify-content: center;
}


h3{
    text-transform: uppercase;
     font-size: 14px;
     color: #333333;
     line-height: 1.4;
    }

.service{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*  
SECTION 2
*/
.message-menu{
    background-color: #272727;
    background-image: url(img/icons/map.png);
    height: 676px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;

}
.title-contact{
    color: #ffffff;
}
.text{ 
    text-align: center;
    font-size: 15px;
}
.input-menu{
    display: flex;
    justify-content: center;
    width: 940px;
    height: 210px;
    font-size: 14px;
  font-family: "Montserrat";
  color: rgb(186, 186, 186);
  font-weight: bold;
  text-transform: uppercase;
}
.input-menu-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button-submit{
    width: 240px;
    height: 68px;
    color:  #ffffff;
    background-color: #f2d048;
}

/*
8*/
/*
FOOTER
*/

