*{
    margin:0;
    padding:0;
}

/* ХЕДЕР = Лого + навигация*/
.wrapper{
    width: 1110px;
    margin:0 auto;
} 
    
nav ul li{
    float: left;
    list-style: none;
    margin-right: 35px ;
    
}
nav{
    float: right;
    margin-top: 36px;
    
}
nav .menu-link {
    color: #0f0101;
   text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
} 
 .menu-link:hover{
color: rgb(26, 188, 156);
}

.logo{
    float: left;
    text-transform: uppercase;
   /* position: absolute;
    top: 32px;*/
    font-size: 30px;
}
.logo-link{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
     font-size: 30px;
     color: #0f0101;
       text-transform: uppercase;}

 


.logo::first-letter{
    color: rgb(26, 188, 156);
}
.wrapper{
    height: 91px;
    width: 1110px;
   position: relative;
}

.clearfix::after {
    content: "";
    display: table;
     clear: both; }

     
/*  SLIDER */
.slider {
    height: 600px;
    margin: auto;
    position: relative; 
}
.slider-ctrl {
    position: absolute;
    background-color:  #1abc9c;
     width: 100px ;
    height: 100px ;
    top: 50%;
    border: none;
    transform: translateY(-50%);
    z-index: 1;
}
.slider-ctrl-left {
    left: 0;
    background-image: url(./img/left.png);
    background-repeat: no-repeat;
    background-position: center;
}
.slider-ctrl-rigth {
    right: 0;
    background-image: url(./img/right.png);
    background-repeat: no-repeat;
    background-position: center;
}

.slider{
    background-image: url(./img/slide05.png);
}

.slide-sl {
    height: 600px;
    width: 100%;

}
.slide-fon {
    position: absolute;
    width: 100% ;
    height: 600px;
    background-color: rgb(0, 0, 2);
    opacity: 0.52;
}
/*text v slider*/
.slide {
    position: relative;
    list-style: none;
}
.slide-block {
    position: absolute;
    top: 200px;
    left: 20%; 
    font-size: 44px;
    font-family: "Roboto";
   
    
}
.slide-block {
    color:  #ffffff;
    text-decoration: none;
}
.podpis-item:hover .caption .sign {
    color: rgb(255, 114, 0);
}
.caption {
    text-transform: uppercase;
}
.sign {
    font-size: 17px;
}


/*  MAIN = H21 + after + картинки */
main .conteiner {
    background-color:  #dce5f5e5;
 
}
.h21 {
    font-size: 35px;
    font-family: "Roboto";
    color: #515151;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-weight: 900px;
    height: 33px;
    margin-bottom: 40px;
  }
 .h21::after {
        content: "";
        position: absolute;
        top: 35px;
        right: calc(50% - 105px);
        height: 7px;
        width: 210px;
        background-color: #4ec6ab; }

 .item-block:hover  {
            background-color: #7777aa;
        }
 .item-block:hover  .img, .item-block:hover  .name, .item-block:hover  .price{
            background: #1abc9c;
        }
 .item-block {
            float: left;
            display: block;
            margin-right: 14px;
            margin-bottom: 30px;
            max-width: 250px;
            position: relative;
            text-decoration: none;
        }

.overlay {
    position: absolute;
    width: 100% ;
    height: 326px;
    background-color: #737373;
    opacity: 0;
    text-align: center;
}

.item-block:hover .overlay {
    opacity: 0.7;
}

 .item-block .img{
     background-color: #d4dceb;
     max-width: 250px;
 }
.item-blok-text {
    height: 18px;
    font-size: 16px;
    color: #ffffff;
    vertical-align: middle;
    font-weight: 600;
    text-transform: uppercase;
}

.item-block .name {
    background-color: #323232;
    text-transform: uppercase;
    display: inline-block;
    width: 195px;
}
.item-block .price{
    background-color: #8c8c8c;
    float: right;
    display: inline-block;
    margin-left: -4px;
    width: 55px;
}
.overlay{
    vertical-align: middle;
}

.lay-ic {
    height: 47px;
    width: 50px;
   border: #ffffff;
    border-style: solid;
   
}
.line-two{
    text-align: center;

}
.line-first {
    margin-top: 70px;
}
.line-two {
    border: #ffffff;
    border-style: solid;
    width: 160px;
    color: #ffffff;
    /*margin-left: 6px;*/
    margin-top: 10px;
    background-color: #323232;
}
.line:hover .lay-ic, .line-two{
    background: #1abc9c;
}

.box{
    width: 150px;
    height: 50px;
    background: url(img/slides/basket.png);
    background-repeat: no-repeat;
   
    background-position: left;
}
.vpravo{ float: right;}

.butt{
    width:50px;
    height:50px;
}
.butt1{
     
    background: url(img/slides/icon01.png);
    background-repeat: no-repeat;
    background-position: center;
}
.butt:hover{
    background: #1abc9c;
}
.butt2{
    background: url(img/slides/icon02.png);
    background-repeat: no-repeat;
    background-position: center;
}
.butt3{
    background: url(img/slides/icon03.png);
background-repeat: no-repeat;
    background-position: center;
}
.line-two:hover{
    background: #1abc9c
}
/*footer c fonom*/

footer {
    background-color: #323232; 
    text-align: center;
    height: 60px;
    position: relative;
}
.signature {
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f0f0f0;
}
.text-color {
    color: #1abc9c;
  
}